<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Generador de degradados">
    <!-- metadata para PWA -->
    <meta name="theme-color" content="#f5f5dc">
    <!-- optimizaciones de seo -->
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true"> 
    <!-- modificar barra de estado  ios-->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>App desgradado</title>
    <!-- iconos -->
    <link rel="shortcut icon" href="./img/icon16.png" type="image/png">
    <link rel="apple-touch-icon" href="./img/icon16.png">
    <link rel="apple-touch-startup-image" href="./img/icon16.png">
    <!-- manifest -->
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <hr>
        <form>
            <label>
                Color 1: <input type="color" v-model="fcolor">
            </label>
            <label>
                Color 2: <input type="color" v-model="scolor">
            </label>
            <p>HEX 1: {{fcolor}}</p>
            <p>HEX 2: {{scolor}}</p>
            <hr>
            <form>
                <label>
                    <input type="text" :value="setColor" class="value-css">
                </label>
            </form>
            <label>
                Right <input type="radio" value="1" v-model.number="orientation">
            </label>
            <label>
                Left <input type="radio" value="2" v-model.number="orientation">
            </label>
            <label>
                Top <input type="radio" value="3" v-model.number="orientation">
            </label>
            <label>
                Bottom <input type="radio" value="4" v-model.number="orientation">
            </label>
            <hr>
            <div :style="setColor" class="area">
            </div>
            
        </form>
    </div>
    <script src="./load.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/mountApp.js"></script>
</body>
</html>